@use "../../../../assets/styles/entry" as *;

.messageWrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  .headerSection {
    background: $color-white;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    flex: 0;

    .container {
      display: flex;
      align-items: center;
      gap: 15px;

      .imageContainer {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid $color-secondary-bg;
        border-color: transparent;
        .image {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .name {
        font-size: larger;
      }
    }
  }

  .chatSection {
    flex: 1;
  }

  .conversationSection {
    flex: 0;
    padding: 10px 25px;
    .container {
      display: flex;
      align-items: center;
      gap: 15px;
      background: $color-white;
      padding: 10px 15px;
      border-radius: 20px;

      .input {
        flex: 1;
        border: none;
        outline: none;
        background: transparent;
        width: 100%;
      }
    }
  }
}
