@use "../../assets//styles/entry" as *;

.btn {
  background-color: $btn-primary;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 10px;
  width: 100%;

  &:hover {
    background-color: $btn-secondary;
    transition: background-color 0.5s ease-in-out;
  }
}
