@use "../../../assets/styles/entry" as *;

.mainCont {
  display: flex;
  .leftSideContainer {
    flex: 1;
    max-height: 100vh;
    img {
      height: 100vh;
      width: 100%;
    }
  }
  .rightSideContainer {
    flex: 1;

    .rightCont {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: 0 auto;

      .successCont{
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .upperCont {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 20px;
        width: 100%;
      }

      .logo {
        height: 45px;
      }

      .inpCont {
        width: 100%;

        .nicework {
          margin-bottom: 10px;
          opacity: 0.8;
        }
      }

      .forget {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        margin-bottom: 10px;

        .remeb {
          @include font-small;
          display: flex;
          gap: 5px;
          align-items: center;
        }

        .pforget {
          @include font-small;
          cursor: pointer;
          text-decoration: underline;
          text-underline-offset: 3px;
        }
      }

      .hrfull {
        height: 1px;
        border: none;
        background-color: #e9e9e9;
        margin: 20px 0px;
        width: 100%;
      }

      .lowerCont {
        width: 100%;

        .donthave {
          width: 100%;
          margin-top: 10px;
          @include font-small;
          .signup {
            color: $btn-primary;
            cursor: pointer;
          }
        }
      }
    }
  }
}
