@use "../../../assets/styles/entry" as *;

.mainCont {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .leftSideContainer {
    display: none; // hidden by default for mobile

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .rightSideContainer {
    flex: 1;

    .rightCont {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: 0 auto;

      .upperCont {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 20px;
        width: 100%;
      }

      .logo {
        height: 45px;
      }

      .inpCont {
        width: 100%;

        .nicework {
          margin-bottom: 10px;
          opacity: 0.8;
        }
      }

      .forget {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        margin-bottom: 10px;

        .remeb {
          @include font-small;
          display: flex;
          gap: 5px;
          align-items: center;
        }

        .pforget {
          @include font-small;
          cursor: pointer;
          text-decoration: underline;
          text-underline-offset: 3px;
        }
      }

      .hrfull {
        height: 1px;
        border: none;
        background-color: #e9e9e9;
        margin: 20px 0px;
        width: 100%;
      }
      .lowerCont {
        width: 100%;

        .donthave {
          width: 100%;
          margin-top: 10px;
          @include font-small;
          .signup {
            color: $btn-primary;
            cursor: pointer;
          }
        }
      }
    }
  }

  @include respond("md") {
    flex-direction: row;

    .leftSideContainer {
      display: block;
      flex: 1;
      max-height: 100vh;
    }
    .rightSideContainer .rightCont {
      max-width: 400px;
    }
  }

  // Desktop (≥1280px)
  @include respond("xl") {
    .rightSideContainer .rightCont {
      max-width: 450px;
    }
  }

  // 2K screens (≥1840px)
  @include respond("2xl") {
    max-width: 1600px;
    margin: 0 auto;

    .rightSideContainer .rightCont {
      max-width: 500px;
    }
  }

  // 4K screens (≥2560px)
  @include respond("4xl") {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 2000px;
    margin: 0 auto;

    .leftSideContainer {
      border-radius: 20px;
      overflow: hidden;
      height: 98%;
    }

    .rightSideContainer .rightCont {
      max-width: 550px;
    }
  }
}
